<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Dice Roller by EdTheDev</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>

<!-- General Script imports -->
<script src="js/jquery-1.10.2.min.js"> </script>
<script src="js/underscore-min.js"> </script>
<script src="js/backbone-min.js"> </script>
<script src="js/bootstrap.min.js"> </script>
<script src="js/handlebars-v1.1.2.js"> </script>

<!-- App Specific Script imports -->
<script src="js/views/app.js"> </script>

<script type="text/template" id="item-template"></script>
<script type="text/template" id="stats-template"></script>
<!-- 

<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>

<div class=rolled><p>Last roll: $rolled</p></div>
<div class=actions><p><form action='$app/say' method='POST' class=thin>
<input name='message'><input type=submit value='Say'>
</form>
You are $name. <a href='$app/setname'>Change Nickname</a>
$admin</p></div>
<div class=record>$record</div>
</body>
</html>
-->


<!-- Underscore templates -->
<script type="text/template" id="roll-template">
	<p class="view">
		<%= name %> rolled <%= roll %> on a <%= sides %> sided die.
	</p>
	<input class="edit" value="<%= value %>">
</script>


<!-- My Backbone.js App HTML -->
<!-- Dice Roller Navigation HTML -->
<div><h2>Roll some dice.</h2><ul class="nav"></ul></div>
<script id="die-template" type="text/x-handlebars-template">
    <li>
	<button type=submit name=sides value="{{die}}" class=dice> 
		Roll a D{{die}}
		<img src='img/d{{die}}.png' class=dice>
		</button>
	</li>
	<!-- Game master 
    <label for=private>Private Roll</label><input id=private type=checkbox name=private />
	-->

</script>
<script>



	// let console = (Cu.import("resource://gre/modules/devtools/Console.jsm", {})).console;
	console.log("Starting to build Dice Navigation");
	var source   = $("#die-template").html();
	var template = Handlebars.compile(source);
	// Make some buttons.
	console.log("About to make some buttons.");
	$.each([2, 4, 6, 8, 10, 12, 20], function(index, value) {
		console.log("Built die: " + value);
		var context = {'die': value};
		var html    = template(context);
		$(".nav").append(html)
	});

	console.log("Connecting Dice Roll functions");
	$(".dice").click(function(){
		// alert($(this).attr('value'));
		var post_data = {'value':$(this).attr('value')};
		/*
		$.ajax('/api/roll/?format=json', 
		{
		    data : JSON.stringify(post_data),
		    contentType : 'application/json',
			type : 'POST',
		});
		*/
		
		$.post("/api/roll/?format=json", JSON.stringify(post_data), function(data,status){
			alert("Data: " + data + "\nStatus: " + status);
	  }, "json");
	  
	}); 

</script>

<!-- Backbone.js App HTML from video -->
	<div class="container">
		<h1>Off the backbone</h1>

		<ul class="nav nav-pills">
			<li><a href="#">Food</a></li>
			<li><a href="#/menu-items/new">Add Item</a></li>
			<li><a href="#/menu-items/garden-salad">Garden Salad</a></li>
		</ul>
	</div>

	<div class="container" id="app">

	</div>



<!-- Backbone.js App HTML from book -->
<section id="todoapp">
<header id="header">
<h1>todos</h1>
<input id="new-todo" placeholder="What needs to be done?" autofocus>
</header>
<section id="main">
<input id="toggle-all" type="checkbox">
<label for="toggle-all">Mark all as complete</label>
<ul id="todo-list"></ul>
</section>
<footer id="footer"></footer>
</section>

<script>
// Your code goes here

// The Models
// ---------------
var RollRecord = Backbone.Model.extend({
defaults: {
	value:1,
	sides:20,
	name: 'Nobody',
}
});

var RollHistory = Backbone.Collection.extend({
model: RollRecord,
url: '/api/roll/?format=json'
});
var rolls = new RollHistory();
rolls.fetch(); // sends HTTP GET to /todos

// js/views/todos.js
var app = app || {};
// Todo Item View
// --------------
// The DOM element for a todo item...
app.TodoView = Backbone.View.extend({
//... is a list tag.
tagName: 'li',
// Cache the template function for a single item.
template: _.template( $('#item-template').html() ),
// The DOM events specific to an item.
events: {
'dblclick label': 'edit',
'keypress .edit': 'updateOnEnter',
'blur .edit': 'close'
},
// The TodoView listens for changes to its model, rerendering. Since there's
// a one-to-one correspondence between a **Todo** and a **TodoView** in this
// app, we set a direct reference on the model for convenience.
initialize: function() {
this.listenTo(this.model, 'change', this.render);
},
// Rerenders the titles of the todo item.
render: function() {
this.$el.html( this.template( this.model.toJSON() ) );
this.$input = this.$('.edit');
return this;
},
});

// Create / Start the App
var app = app || {};
var ENTER_KEY = 13;
$(function() {
// Kick things off by creating the **App**.
	new app.AppView();
})


</script>
